<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/src/static/signup_styles.css">
        
    </head>
    <body>
        <div class="signup-container">
            
            <div style="margin-top: 20px; margin-bottom: 20px;">
                <table class="signup-table">
                    <tr>
                        <td class="prompt" ><label for="email"><b>Email</b></label></td>
                        <td><input class="data-field" type="text" placeholder="Enter Email" name="email" id="email"></td>
                    </tr>
                    <tr>
                        <td class="prompt" ><label for="psw"><b>Password</b></label></td>
                        <td><input class="data-field" type="password" placeholder="Enter Password" name="psw" id="password"></td>
                    </tr>
                    <tr>
                        <td class="prompt" ><label for="psw-repeat"><b>Repeat Password</b></label></td>
                        <td><input class="data-field" type="password" placeholder="Repeat Password" name="psw-repeat" id="passwordCheck"></td>
                    </tr>
                    <tr>
                        <td><div></div></td>
                        <td><button class="submit-btn" id="submit-btn"><p>Submit</p></button></td>
                    </tr>
                </table>
            </div>
            
        </div>
        <script type="text/javascript" src="/src/static/scripts/signup.js"></script>
    </body>
</html>