<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <link rel="stylesheet" href="/src/static/signup_styles.css"> -->
        <link rel="stylesheet" href="../static/signup_styles.css">
        <title>Signup</title>
    </head>
    <body>
        <div class="signup-container">
            
            <label class="prompt" for="email"><b>Email</b></label>
            <input class="data-field" type="text" placeholder="Enter Email" name="email" id="email">
            
            <label class="prompt" for="psw"><b>Password</b></label>
            <input class="data-field" type="password" placeholder="Enter Password" name="psw" id="password">

            <label class="prompt" for="psw-repeat"><b>Repeat Password</b></label>
            <input class="data-field" type="password" placeholder="Repeat Password" name="psw-repeat" id="passwordCheck">

            <button class="submit-btn" id="submit-btn"><p>Submit</p></button>
        </div>
        <!-- <script type="text/javascript" src="/src/static/scripts/signup.js"></script> -->
    </body>
</html>